<!DOCTYPE html>
<html ng-app='shouldIBikeToday'>
  <head>
    <meta charset="utf-8" />
    <title>Should I Bike Today?</title>
    <link rel="stylesheet" type="text/css" href="./styles/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div ng-controller="tripController">
      <h1>Should I Bike Today?</h1>
      <h3>Find out if it'll rain on your way to work or school.</h3>
      <p>(Make sure location services is on.)</p>
      <form name="tripInfo" ng-submit='getWeather()'>
        <button>Get trip weather.</button>
      </form>
      <p ng-if="rain === true || rain === false">{{ rainText }}</p>
      <div ng-if="rain===false">
      <img src="https://fitisafeministissue.files.wordpress.com/2014/08/wpid-img_22400955656443.jpeg" >
      </div>
    </div>

    <script src="lib/angular.js"></script>
    <script src="src/services.js"></script>
    <script src="src/app.js"></script>
  </body>
</html>
